RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
# Redirect all to index.php file
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
